node_modules/
dist/
*.log
.DS_Store
.cursor/

# npm 包源码不开源
packages/
demo-vue/
docs/OPTIMIZATION.md
docs/UPGRADE-ANALYSIS.md
tsconfig.json
pnpm-workspace.yaml
.pnpm-approve-builds.json
.vscode/
.github/
docs/
pnpm-lock.yaml
pnpm-workspace.yaml
package.json
